extends layout

block content
  !=messages()
  .container
    h1(class="text-center") История на поръчките
    hr
    if context.length > 0
        div.table-responsive         
            table(class="table table-hover" id="my-orders-table" data-show-toggle="false")
                thead
                    tr(class="warning")
                        th Поръчка
                        th(class="text-center") Дата
                        th(class="text-center") Брой оферти
                        th(class="text-center") Обща цена
                tbody
                - context.reverse();
                - let ordersPrice = 0;
                - let ordersCount = 0;

                for item in context
                    - let orderDate = new Date(item.date);
                    - ordersPrice += item.cart.totalPrice;
                    - ordersCount += item.cart.totalQty;
                    tr
                        td= item.id
                        td(class="text-center") #{moment(orderDate).format('MM/DD/YYYY HH:mm')}
                        td(class="text-center")= item.cart.totalQty
                        td(class="text-center")= item.cart.totalPrice 
                            span.text  лв.
                tr(class="warning")
                    td(colspan="2")
                    td(class="text-center")= ordersCount
                    td(class="text-center")= ordersPrice 
                        span.text  лв.
    else
        h3 Все още нямате направени поръчки!