extends layout

block content
  !=messages()
  .container
    .row
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad
        .panel.panel-primary
            .panel-heading
              h3.panel-title
                =user.username 
            .panel-body
              .row
               .col-md-3.col-lg-3(align='center')
                 if user.files
                  if user.files[0]
                   img.img-circle.img-responsive(alt='User Pic', src=user.files[0].url)
                  else
                   img.img-circle.img-responsive(alt='User Pic', src='/static/images/users/avatar.png')
                 else
                   img.img-circle.img-responsive(alt='User Pic', src='/static/images/users/avatar.png')
               .col-md-9.col-lg-9
                table.table.table-user-information
                  tbody
                    tr
                        td Име:
                        td=user.firstName
                    tr
                        td Фамилия:
                        td=user.lastName
                    tr
                        td Телефонен номер:
                        td=user.phoneNumber
                    tr
                        td E-mail:
                        td=user.email
                    tr
                        td Държава:
                        td=user.country
                    tr
                        td Град: 
                        td=user.town
                a#my-ads.btn.btn-primary(href="/profile/myOffers") Моите оферти
                a#my-orders.btn.btn-primary.pull-right(href="/profile/myOrders") История на поръчките
                form(action="/profile" method="POST" enctype="multipart/form-data")
                    .form-group
                    label(class="control-label" for="image") Смени профилна снимка
                    input(type="file" name="image" id="file" class="form-control")
                    div(id="imgContainer" class="col-sm-12")
                    br
                    button(type="submit" class="btn btn-primary pull-right")
                        | Запази снимка 
                        span.glyphicon.glyphicon-send
                    br
            .panel-footer
  script(src='/static/js/show-image.js')
